
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-size: 100%;
}


body {
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    margin: 0;
    background-size: 100%;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
   background-size: 100%;
}

header h1 {
    margin-bottom: 10px;
 background-size: 100%;
}

header p {
    margin-top: 0;
     background-size: 100%;
}

section {
    min-height: 50vh; 
    padding: 20px; background-size: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px; background-size: 100%;
}

#about img {
    width:290px;
    height: 390px;
    border-radius: 55%;
    display: block;
    margin: 0 auto 20px; 
    background-size: 100%;
}

#skills ul {
    display: flex;
    justify-content: space-around;
     background-size: 100%;
}

#skills li {
    background: #333;
    color: #fff;
    padding: 20px 40px;
    border-radius: 2px; 
    background-size: 100%;
}

#projects .project {
    margin-bottom: 20px;
     background-size: 100%;
}

#projects img {
    width: 50%;
    height: auto;
    border-radius: 3px; 
    background-size: 100%;
}

#resume a {
    display: inline-block;
    margin-top: 10px;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px; 
    background-size: 100%;
}

#contact p {
    margin-bottom: 10px; 
    background-size: 100%;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #333;
    color: #fff; 
    background-size: 100%;
}
